@font-face{font-family:'uninpe';src:url("../fonts/uninpe.eot");src:url("../fonts/uninpe.eot?#iefix") format('embedded-opentype'),url("../fonts/uninpe.woff") format('woff'),url("../fonts/uninpe.ttf") format('truetype'),url("../fonts/uninpe.svg#uninpe") format('svg');font-weight:normal;font-style:normal}
[data-icon]:before{font-family:'uninpe';content:attr(data-icon);speak:none;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased}
.icon-facebook,.icon-twitter{font-family:'uninpe';speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased}
.icon-facebook:before{content:"\e003"}
.icon-twitter:before{content:"\e004"}
body{background:#fff;color:#53565a;font-family:'Open Sans',sans-serif;font-size:14px;line-height:1.4}
#wrapper{margin:0 auto;width:960px;}
#wrapper header{background:#53565a;padding-top:0;}
#wrapper header #logo{display:inline-block;padding:.5em 1em;vertical-align:top;width:300px}
#wrapper header #info-header{float:right;padding:1em;}
#wrapper header #info-header #info{color:#fff;font-size:12px;}
#wrapper header #info-header #info a{border-right:1px solid #fff;color:#fff;padding:.5em;text-decoration:none;text-transform:uppercase}
#wrapper header #info-header span > a{color:#fff;border-right:none !important}
#wrapper header #info-header #buscador{margin:20px 0 0 0;width:300px;}
#wrapper header #info-header #buscador .element-invisible{display:none}
#wrapper header #info-header #buscador input[type="text"]{background:url("../img/icon_lupa.png") no-repeat center right #fff;height:25px;width:100%}
#wrapper header #menu{background:#fff;overflow:hidden;width:100%;}
#wrapper header #menu ul{margin:0;padding:0;}
#wrapper header #menu ul li{padding:.5em .5em;float:left;}
#wrapper header #menu ul li a{font-size:14px;color:#53565a;font-weight:700;text-decoration:none;text-transform:uppercase}
#wrapper header #menu ul li a:hover{color:#a7a7a7}
#wrapper header #menu ul .current a{color:#3a90da}
#wrapper #banner{height:350px;width:100%;}
#wrapper #banner #slideshow{height:350px;margin:0 auto;width:100%;}
#wrapper #banner #slideshow .slide{background-position:center top;background-repeat:no-repeat;height:100%;text-align:center;width:100%;}
#wrapper #banner #slideshow .slide .info-banner{color:#fff;float:right;padding:1em;width:218px}
#wrapper #banner ul{padding:0 0 0 10px;font-size:13px;text-align:left;}
#wrapper #banner ul li{padding:.5em 0}
#wrapper #banner h1{font-size:24px;font-weight:400;margin:0;text-transform:uppercase;}
#wrapper #banner h1 strong{font-size:30px;font-weight:700}
#wrapper #banner p{font-size:14px;margin:2em 0}
#wrapper #banner a{background:#fff;color:#53565a;padding:.3em 1.5em;text-decoration:none}
#wrapper #banner a:hover{background:#3a90da;color:#fff}
#wrapper #middle-content{margin-bottom:20px;}
#wrapper #middle-content .programa:hover{background:#3a90da;}
#wrapper #middle-content .programa:hover h1{color:#fff}
#wrapper #middle-content .programa{background:#ebeae6;display:inline-block;margin-right:-.2em;vertical-align:top;width:354px;}
#wrapper #middle-content .programa h1{font-size:18px;text-align:center}
#wrapper #middle-content .programa ul{margin:0;padding:0;list-style:none;}
#wrapper #middle-content .programa ul li{font-size:13px;text-align:right;margin:1em;}
#wrapper #middle-content .programa ul li a{display:block;text-transform:uppercase;color:#fff;text-decoration:none;padding:.5em;border-radius:10px;-webkit-box-shadow:0 5px 6px 1px rgba(0,0,0,0.5);-moz-box-shadow:0 5px 6px 1px rgba(0,0,0,0.5);box-shadow:0 5px 6px 1px rgba(0,0,0,0.5);}
#wrapper #middle-content .programa ul li a .subtitle{display:block;text-transform:none;font-size:11px}
#wrapper #middle-content .programa ul li a:hover{background-color:#fff;color:#a7a7a7}
#wrapper #middle-content .programa ul li #admin_hotelera{background:url("../img/bg_admin_hotelera.png") no-repeat top left #a7a7a7}
#wrapper #middle-content .programa ul li #admin_marketing,#wrapper #middle-content .programa ul li #admin_marketing_empresas{background:url("../img/bg_admin_marketing.png") no-repeat top left #a7a7a7}
#wrapper #middle-content .programa ul li #admin_rrhh,#wrapper #middle-content .programa ul li #admin_rrhh_empresas{background:url("../img/bg_admin_rrhh.png") no-repeat top left #a7a7a7}
#wrapper #middle-content .programa ul li #admin_calidad{background:url("../img/bg_admin_calidad.png") no-repeat top left #a7a7a7}
#wrapper #middle-content .programa ul li #admin_empresas{background:url("../img/bg_admin_empresas.png") no-repeat top left #a7a7a7}
#wrapper #middle-content .programa ul li #admin_financiera{background:url("../img/bg_admin_contable.png") no-repeat top left #a7a7a7}
#wrapper #middle-content .programa ul li #admin_financiera:hover,#wrapper #middle-content .programa ul li #admin_hotelera:hover,#wrapper #middle-content .programa ul li #admin_marketing:hover,#wrapper #middle-content .programa ul li #admin_marketing_empresas:hover,#wrapper #middle-content .programa ul li #admin_rrhh:hover,#wrapper #middle-content .programa ul li #admin_rrhh_empresas:hover,#wrapper #middle-content .programa ul li #admin_calidad:hover,#wrapper #middle-content .programa ul li #admin_empresas:hover{background-color:#fff;color:#a7a7a7}
#wrapper #middle-content .conocenos_video{background:#a7a7a7;display:inline-block;vertical-align:top;width:234px;min-height:295px;padding:.5em;}
#wrapper #middle-content .conocenos_video h1{font-size:18px;text-align:center;color:#fff}
#wrapper #middle-content .conocenos_video img{width:100%}
#wrapper #contenido{background:#ebeae6;}
#wrapper #contenido #center-content .content{display:inline-block;height:340px;margin-right:-.2em;overflow:hidden;padding:.5em;position:relative;vertical-align:top;}
#wrapper #contenido #center-content .content ul{margin:0;padding:0;list-style:none;}
#wrapper #contenido #center-content .content ul li .mod-articles-category-title{color:#3a90da;font-size:14px;font-weight:400;margin:0;text-decoration:none}
#wrapper #contenido #center-content .content ul li a:hover{text-decoration:underline}
#wrapper #contenido #center-content .content h3{font-size:24px;text-transform:uppercase;margin-bottom:10px}
#wrapper #contenido #center-content .content p{font-size:13px}
#wrapper #contenido #center-content .left-content{background:#ebeae6}
#wrapper #contenido #center-content .left-content,#wrapper #contenido #center-content .center-content{width:220px}
#wrapper #contenido #center-content .testimonials{background:#53565a;color:#fff;padding:.5em 1em;width:455px;}
#wrapper #contenido #center-content .testimonials .fecha,#wrapper #contenido #center-content .testimonials .autor{display:block;font-style:italic}
#wrapper #contenido #breadcumbs{display:block;padding:.5em;}
#wrapper #contenido #breadcumbs ul{margin:0;padding:0;}
#wrapper #contenido #breadcumbs ul li{list-style:none;display:inline-block;vertical-align:top;}
#wrapper #contenido #breadcumbs ul li .divider{padding:0 5px}
#wrapper #contenido #title,#wrapper #contenido .b2jcontainer h2{background:#53565a;color:#fff;display:block;font-size:30px;padding:.1em;text-transform:uppercase;}
#wrapper #contenido #title p,#wrapper #contenido .b2jcontainer h2 p,#wrapper #contenido #title h1,#wrapper #contenido .b2jcontainer h2 h1,#wrapper #contenido #title h2,#wrapper #contenido .b2jcontainer h2 h2,#wrapper #contenido #title h3,#wrapper #contenido .b2jcontainer h2 h3,#wrapper #contenido #title h4,#wrapper #contenido .b2jcontainer h2 h4{margin:0}
#wrapper #contenido #left,#wrapper #contenido #main,#wrapper #contenido .item-page,#wrapper #contenido .search,#wrapper #contenido #k2Container,#wrapper #contenido .blog{display:inline-block;margin-right:-.2em;vertical-align:top}
#wrapper #contenido #left{background:#ebeae6;width:250px;padding:.5em;}
#wrapper #contenido #left h3{font-size:1em}
#wrapper #contenido #left ul{margin:20px 0;padding:0 0 0 20px;}
#wrapper #contenido #left ul li{list-style:disc;margin-bottom:5px;}
#wrapper #contenido #left ul li a{color:#53565a;display:block;font-size:14px;padding:.3em .5em;text-decoration:none}
#wrapper #contenido #left ul li a:hover{background:#53565a;color:#fff}
#wrapper #contenido #left ul .parent{list-style:none;}
#wrapper #contenido #left ul .parent .separator{font-size:1em;font-weight:bold}
#wrapper #contenido #main,#wrapper #contenido .item-page,#wrapper #contenido .search,#wrapper #contenido #k2Container,#wrapper #contenido .blog{background:#fff;min-height:400px;padding:1em;width:667px;}
#wrapper #contenido #main h2,#wrapper #contenido .item-page h2,#wrapper #contenido .search h2,#wrapper #contenido #k2Container h2,#wrapper #contenido .blog h2{font-size:18px;font-style:italic;font-weight:400}
#wrapper #contenido #main p,#wrapper #contenido .item-page p,#wrapper #contenido .search p,#wrapper #contenido #k2Container p,#wrapper #contenido .blog p{font-size:14px;line-height:24px}
#wrapper #contenido #main img,#wrapper #contenido .item-page img,#wrapper #contenido .search img,#wrapper #contenido #k2Container img,#wrapper #contenido .blog img{max-width:100%}
#wrapper #contenido #main dl,#wrapper #contenido .item-page dl,#wrapper #contenido .search dl,#wrapper #contenido #k2Container dl,#wrapper #contenido .blog dl{margin:0;}
#wrapper #contenido #main dl dd,#wrapper #contenido .item-page dl dd,#wrapper #contenido .search dl dd,#wrapper #contenido #k2Container dl dd,#wrapper #contenido .blog dl dd{margin:0;font-size:12px}
#wrapper #contenido #main .article-info-term,#wrapper #contenido .item-page .article-info-term,#wrapper #contenido .search .article-info-term,#wrapper #contenido #k2Container .article-info-term,#wrapper #contenido .blog .article-info-term{display:none}
#wrapper #contenido .blog h2{margin-bottom:0}
#wrapper #contenido .blog .items-row{border-bottom:1px solid #a7a7a7;padding:.5em}
#wrapper #contenido .blog .readmore a{background:#3a90da;text-decoration:none;color:#fff;padding:.3em}
#wrapper footer{background:#53565a;color:#ebeae6;margin-top:20px;}
#wrapper footer a{color:#ebeae6;text-decoration:none}
#wrapper footer .column{display:inline-block;margin-right:-.2em;padding:.5em;vertical-align:top;width:220px;}
#wrapper footer .column h3{text-transform:uppercase}
#wrapper footer .column ul{list-style:disc;padding:0 0 0 20px;}
#wrapper footer .column ul li{font-size:14px;padding:.3em;text-transform:uppercase}
#wrapper footer .column input[type="text"],#wrapper footer .column input[type="email"],#wrapper footer .column textarea{width:100%}
#wrapper footer .column button,#wrapper footer .column input[type="submit"]{background:#fff;border:none;clear:both;color:#53565a;cursor:pointer;float:left;font-size:12px;height:26px;margin-right:4px;width:80px}
#wrapper footer .column-4 #logo-footer{margin-top:20px}
#wrapper footer .column-4 p{font-size:12px;font-style:italic}
#wrapper footer .column-4 #facebook,#wrapper footer .column-4 #twitter{background:#fff;border-radius:5px;color:#53565a;display:inline-block;padding:.5em;margin-right:.5em}
#wrapper footer .column-4 #facebook:hover,#wrapper footer .column-4 #twitter:hover{background:#3a90da}
